.links{
    padding-left: 130px;
    align-items: center;
    margin-bottom: -30px;
}
h3{
    
    padding: 30px;
    text-align: center;
    margin: 50px;
    height: 4.5vh;
    width: 80vw;
    background-color: rgb(216, 204, 204);
    font-size: medium;
    font-weight: light;
    transition: 0.4s ease-in-out;
    
}
h3:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}
a {
    text-decoration: none;
     color: black;
}
h2{
    margin-left: 140px;
    
}
.menu__exit{
    position: relative;
    float: right;
    margin-left: -30px;
}

.ImgIcon{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    width:180px;
    height:180px;
    border-radius: 280px;
    margin-bottom: 20px;
    margin-left: 200px;
   
    /* border-radius: 280px;
    width: 100px;
    height: 100px;
    margin-top: -90px;
    justify-content: center;
    margin-left: 100px;
    resize: none; */
}
.profileLinks{
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-content: center;
    
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 auto;
    margin-left:-90px;
}
@media screen and (max-width:1200px) and (min-width:1200px) {
    .ImgIcon{
    
        
        margin-right: -200px;
       
    }
}