.slack_git{
    position: absolute;
    align-content: center;
    padding-left: 150px;
}
.zuri{
    width: 90px;
    padding-top: 30px;
}
.slack{
    margin-right: 40px;
    margin-left: 20px;
    align-items: center;
    
}
.sl_git{
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 90px;
}
.I4g{
    width: 70px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    align-items: center;
}

.bottom__footer >img{
    max-width: 100px;
    margin-left: 60px;
    margin-top: 20px;
}
.Text{
    padding-left: 10px;
    width: 100px;
    height: 8px;
    
}