.slack_git{
    position: flex;
    align-content: center;
    padding-left: 390px;
    width: 30vw;
    resize: none;
}
@media screen and (max-width: 700px) {
    .slack_git{
        position: flex;
        align-content: center;
        padding-left: 190px;
        width: 150px;
        resize: none;
    }
}
@media screen and (max-width: 699px) {
    .slack_git{
        position: flex;
        align-content: center;
        padding-left: 450px;
        width: 150px;
       
    }
}

.zuri{
    width: 90px;
    padding-top: 30px;
}
.slack{
    margin-right: 40px;
    margin-left: 20px;
    align-items: center;
    
}
.sl_git{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: -30px;
}
.I4g{
    width: 100px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    align-items: center;
    left: 0;
}

/* .bottom__footer >img{
    max-width: 10px;
    margin-left: -60px;
    margin-top: 20px;
} */
.b__foot{
    display: block;
    margin-left: -130px;
    
}
.Text{
    padding-left: 10px;
    width: 100px;
    height: 6px;
    
}
.bottom__footer{
  margin-left: 10px;
  width: 400px;
}
@media screen and (max-width: 700px) {
    .bottom__footer{
        margin-left: -90px;
        width: 100px;
      }
      .sl_git{
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-left: -190px;
    }
}