.slack_git{
    position: absolute;
    align-content: center;
    padding-left: 240px;
}
.zuri{
    width: 90px;
    padding-top: 30px;
}
.slack{
    margin-right: 40px;
    margin-left: 20px;
    align-items: center;
    
}
.I4g{
    width: 70px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 20px;
    align-items: center;
}
.bottom__footer >img{
    max-width: 150px;
}
.Text{
    padding-left: 20px;
    width: 130px;
    
}